html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img:not(figure *) {
    padding-bottom: 40px;
}

body {
    font-family: Arial, Verdana, sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #070217;
    box-sizing: border-box;
}

.menu {
    display: block;
    padding-bottom: 50px;
    width: 872px;
    text-align: center;
}

.logo {
    margin-bottom: 50px;
}

.menu-block {
    display: inline-block;
}

.menu-block:last-child {
    margin-bottom: 0;
}

.menu-link {
    padding: 24px 49px;
    font-weight: 700;
    font-size: 18px;
    background-color: #3f2aff;
}

.download-link {
    padding-left: 30px;

    font-weight: 700;
    font-size: 18px;
    color: #3f2aff;

    background-image: url("../img/download.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px;
}

.menu-block:nth-child(even) {
    margin-left: 25px;
}

.main-header {
    line-height: 60px;

    font-weight: 400;
    font-size: 60px;

    color: #333;
}

.article-container {
    margin: 0 auto;
    padding: 80px 50px;
    width: 1170px;
}

.content-block {
    border-radius: 20px;
    padding: 30px 30px 40px;

    background-color: #f3f3f3;
    background-repeat: no-repeat;
    background-position: right center;
}

.content-block:not(:last-of-type) {
    margin-bottom: 40px;
}

.right-side-decorate-1 {
    background-image: url("../img/decorate-1.png");
}

.right-side-decorate-2 {
    background-image: url("../img/decorate-2.png");
}

p {
    margin-top: 0;
    margin-bottom: 40px;
    width: 872px;

    font-weight: 400;
    font-size: 20px;
    line-height: 32px;

    color: #333;
}

.content-block p {
    width: 692px;
    margin-bottom: 10px;
}

.content-block ul li a {
    font-size: 20px;

    border-bottom: 1px solid #3f2aff;
    color: #3f2aff;
}

.attention-block {
    border-radius: 20px;
    padding: 50px 95px;
    width: 100%;

    font-weight: 700;
    font-size: 30px;
    color: white;

    background-color: #3f2aff;
}

h1 {
    margin-top: 0;
    margin-bottom: 40px;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 40px;
    line-height: 46px;

    color: #333;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #333;
}

ul {
    padding-left: 15px;
}

.menu-block a:not(:first-child) {
    margin-left: 25px;
}

li:not(:last-child) {
    padding-bottom: 20px;
}

ul li::marker {
    color: #3f2aff;
}

figure {
    display: inline-block;
    width: 872px;
    margin: 0;
    padding-bottom: 40px;

    font-size: 0;
}

figure figcaption {
    border: 1px solid #b6b6b6;
    border-top: 0;
    padding: 19px 0;

    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.modules-content {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    padding: 80px 0;
}

.modules-logo {
    padding: 0;
    margin-bottom: 25px;
}

.to-index > img {
    padding-bottom: 0px;
}

.to-index {
    margin-bottom: 25px;
}

.to-index > a {
    color: #3F2AFF;
}

.modules-content h1 {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 60px;
    color: #3F2AFF;
    margin-bottom: 50px;
}

.modules-content ul {
    padding: 0;
    margin: 0 auto 50px auto;
    list-style: none;
    font-size:0;
}

li.module-item {
    display: inline-block;
    position: relative;
    padding-bottom: 0px;
    margin-bottom: 25px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .1);
    height: 505px;
    width: 572px;
    vertical-align: top;
}


.module-item img {
    margin-bottom: 25px;
    padding-bottom: 0;
}

li.module-item:nth-child(odd) {
    margin-right: 25px;
}

.module-item p {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    width: auto;
}

.module-item span {
    position: absolute;
    width: 45px;
    height: 46px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;

    color: #EAEAEA;

    right: 25px;
    bottom: 25px;

}

.module-contents {
    margin-left: 25px;
}

.module-contents h2 {
    margin-bottom: 0;
    color: #3F2AFF;
}

.more-button {
    width: 274px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #3F2AFF;
    text-align: center;
    padding: 25px 0;
    cursor: pointer;
}
