html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img:not(figure *) {
    padding-bottom: 40px;
}

body {
    font-family: 'font', sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #070217;
    box-sizing: border-box;
}

.menu {
    display: block;
    padding-bottom: 50px;
    width: 872px;
    text-align: center;
}

.logo {
    margin-bottom: 50px;
}

.menu-block {
    display: inline-block;
}

.menu-block:last-child {
    margin-bottom: 0;
}

.menu-link {
    padding: 24px 49px;
}

.menu-block:nth-child(even) {
    margin-left: 25px;
}

.article-container {
    margin: 0 auto;
    padding: 80px 50px;
    width: 1170px;
}

.content-block {
    border-radius: 20px;
    background-color: #f3f3f3;
    padding: 30px 30px 40px;
}

.content-block:not(:last-of-type) {
    margin-bottom: 40px;
}

p {
    margin-top: 0;
    margin-bottom: 40px;
    width: 872px;
}

.content-block p {
    width: 692px;
    margin-bottom: 10px;
}


h1 {
    margin-top: 0;
    margin-bottom: 40px;
}

h2, h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    padding-left: 15px;
}

.menu-block a:not(:first-child) {
    margin-left: 25px;
}

li:not(:last-child) {
    padding-bottom: 20px;
}


figure {
    display: inline-block;
    width: 872px;
    margin: 0;
    padding-bottom: 40px;
}
